
#head
{
    background: black;
    color: white;
}
.nav{
    display: flex;
    flex-direction: row;
    gap: 232px 95px;
    font-size: larger;
}
.nav .logo{
    flex-basis: 1;
    flex: 50px;
    padding-left: 50px;

}
.nav .fa{
    padding-top: 14px;
    font-size: 40px;
    padding-right: 50px;
    padding-left: 0;
    
}
.quote{
    display: flex;
    position: relative;
    top: 60px;
    justify-content: space-around;
    

}
.quote h1{
    font-size: 100px; 
}
.quote img{
    max-width: 90%;
    max-height: 291px;   
    padding-top: 30px;
}
.quote .change{
    animation: colorChange 20s infinite;
}
@keyframes colorChange {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: purple; }
}
.name{
    
    display: block;
    padding-left: 150px;
    
}
.projects{
    display: block;
    padding-top: 190px;
}
.projects p{
    padding-bottom: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
}
.projects .fa{
    display: block;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
}
